@import "tailwindcss";

html {
   scroll-behavior: smooth;
   /* 1rem = 16px */
   font-size: 16px;
}

@theme {
   --color-primary-light: #A8E6CF;
   --color-primary: #1e5c38;
   --color-primary-hover: #1E4A2B;
}